.dept {
    padding: 0px 50px 0px 50px;
    position: relative;
    background-color: rgb(255, 255, 255);
    /* background-image: url('./assets/img/deptbg11.jpg'); */
    
  }
  .dept-bx {
    padding: 20%;
    /* margin-top: 80px; */
    /* margin-bottom: 0px; */
    background: #09357a;
    border-radius: 30px;
    text-align: center;
    /* padding: 40px 0px; */
    /* margin-top: -60px; */
  }
  .dept h5 {
      font-size: 25px;
      color: white;
      font-weight: 700;
    margin: 14px 0 75px 0;
  }
  .h1{
    padding-bottom: 30px;

  }
   
  .dept-slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .dept-slider .item img {
    width: 60%;
    margin: 0 auto 15px auto;
  }
  .background-image-left {
    top: 0%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: -4;
  }